doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Invoice generator 
        link(rel="stylesheet", href="/style.css")
    body
        #invoice
            .heading
                h1  Nikolai Suvanto
                .detail-text
                    h3.label Invoice #
                    h2#invoice-number 00000
            #item-list
                .item
                    p.item-desc-label    description 
                    p.item-qty-label     qty/hr
                    p.item-amount-label  rate
                    p.item-total-label  total 
            .total-row
                .total-list
                    .cost
                        p price
                        h4#cost-value 0
                    .tax
                        p tax
                        h4#tax-value 0
                    .paid
                        p paid
                        h4#paid-value 0
                    .total
                        p amount due
                        h2#total-value 0
        .settings 
            .invoice-number
                label(for="invoiceNumber") invoice number 
                input#invoice-number-input(type="text", name="invoiceNumber") 
            form#item-form.items-input 
                label(for="itemInput") input for csv of items (format: description, qty/hr, rate)
                textarea#items-input(name="itemInput")
                button(type="submit") update items
            .tax-rate 
                label(for="taxed") tax?
                input#taxed(type="checkbox", name="taxed")
            .amount-paid
                label(for="paidAmount") amount already paid
                input#paid-amount(type="text", name="paidAmount") 
            button(onclick="window.print();") Download as PDF


        script(src="/main.js") 