doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Invoice generator
        link(rel="stylesheet", href="base_style.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="fonts.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css")
    body
        //850px is portrait letter print width
        //and 1090px for landscape letter
        #invoice
            .heading.grid-12-col
                h1  Nikolai Suvanto
                    .contact
                        p#email-value   email(at)email.com
                        p#phone-value   (xxx) xxx xxxx
                .invoice-text
                    h4.label Invoice #
                    h2#invoice-number 00000
            .subheading.grid-12-col
                .client-details
                    p Client
                    h4#company-name COMPANY NAME
                    h6#client-name CLIENT NAME
                    h6#client-email CLIENT@EMAIL
                    p#client-location LOCATION
                .date
                    p Date
                    h4#date
            #item-list
                .item.grid-12-col
                    p.item-desc-label    description
                    p.item-qty-label     qty/hr
                    p.item-amount-label  rate
                    p.item-total-label  total

            .total-row.grid-12-col
                .payment-details
                    p Invoice payable through E-Transfer to
                    p#payment-details
                .total-list
                    .cost
                        p price
                        h4#cost-value 0
                    .tax
                        p tax
                        h4#tax-value 0
                    .paid
                        p paid
                        h4#paid-value 0
                    .total
                        p amount due
                        h2#total-value 0
        button#modal-toggle-btn-item.modal-btn(type="button")
            i.fa-solid.fa-plus
        #add-item-modal.modal(style="display: none;")
            form#item-form
                    input#item-desc(type="text", placeholder="Description")
                    input#item-qty(type="text", placeholder="Quantity/Hours")
                    input#item-rate(type="text", placeholder="Rate")
                    button(type="submit") Add Item
            button.modal-close()
                i.fa-solid.fa-xmark
        button#modal-toggle-btn-info.modal-btn(type="button")
            i.fa-regular.fa-rectangle-list
        #info-modal.modal(style="display: none;")
            .contact-info
                label(for="email") email
                input#email(type="text", name="email")
                label(for="phoneNumber") phone
                input#phone(type="text", name="phoneNumber")
            .invoice-number
                label(for="invoiceNumber") invoice number
                input#invoiceNumber(type="text", name="invoiceNumber")

            form#client-form
                label(for="companyName") company name
                input#companyName(type="text", name="companyName")
                label(for="clientName") client name
                input#clientName(type="text", name="clientName")
                label(for="clientEmail") client email
                input#clientEmail(type="text", name="clientEmail")
                label(for="clientLocation") client location
                input#clientLocation(type="text", name="clientLocation")
            .total-settings
                .tax-rate
                    label(for="taxed") tax?
                    input#taxed(type="checkbox", name="taxed")
                .amount-paid
                    label(for="paidAmount") amount already paid
                    input#amountPaid(type="text", name="paidAmount")
            button.modal-close(type="button")
                i.fa-solid.fa-xmark
            button(onclick="savePDF();") Download as PDF


        script(src="main.js")
        script(src="items.js")
        script(src="details.js")
        script(src="modal.js" type="module")
