doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Invoice generator 
        link(rel="stylesheet", href="/style.css")
    body
        #invoice
            .heading
                h1  Nikolai Suvanto
                .detail-text
                    h4.label Invoice #
                    h2#invoice-number 00000
            .client-details 
                h3#company-name
                h5#client-name 
                h5#client-email 
                p#client-location
            #item-list
                .item
                    p.item-desc-label    description 
                    p.item-qty-label     qty/hr
                    p.item-amount-label  rate
                    p.item-total-label  total 
            .total-row
                .payment-details 
                    p Invoice payable through E-Transfer to
                    p#payment-details
                .total-list
                    .cost
                        p price
                        h4#cost-value 0
                    .tax
                        p tax
                        h4#tax-value 0
                    .paid
                        p paid
                        h4#paid-value 0
                    .total
                        p amount due
                        h2#total-value 0
        .settings 
            .invoice-number
                label(for="invoiceNumber") invoice number 
                input#invoice-number-input(type="text", name="invoiceNumber") 
            form#item-form
                label(for="itemInput") input for csv of items (format: description, qty/hr, rate)
                textarea#items-input(name="itemInput")
                button(type="submit") update items
            form#client-form
                label(for="companyName") company name 
                input#company-name-input(type="text", name="companyName") 
                label(for="clientName") client name 
                input#client-name-input(type="text", name="clientName") 
                label(for="clientEmail") client email 
                input#client-email-input(type="text", name="clientEmail")
                label(for="clientLocation") client location 
                input#client-location-input(type="text", name="clientLocation") 
            .tax-rate 
                label(for="taxed") tax?
                input#taxed(type="checkbox", name="taxed")
            .amount-paid
                label(for="paidAmount") amount already paid
                input#paid-amount(type="text", name="paidAmount") 
            button(onclick="savePDF();") Download as PDF


        script(src="/main.js") 