:root {
  --primary-clr: #00cc64;
  --bg-clr: white;
  --text-clr: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("/fonts/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("/fonts/Junicode-BoldItalicCondensed.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}

/* improve line wrapping */
p {
  text-wrap: pretty;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 900;
}

h1 {
  font-size: 6rem;
  /* font-size: 8rem; */
  line-height: 0.8;
  padding-inline-end: 2rem;
}

h2 {
  font-size: 3.052rem;
  color: var(--primary-clr);
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

body {
  font-family: "AlteHaasGrotesk", Arial, Helvetica, sans-serif;
  color: var(--text-clr);
  min-height: 100vh;
}

#invoice {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: space-between;
  min-height: 100vh;
}

@media print {
  #invoice {
    padding: 0;
  }
}

.label {
  font-family: "junicode";
}

/* heading styling */
.heading {
  display: grid;
  grid-template-columns: 65% 1fr 1fr 1fr;
}

.detail-text {
  border-inline-start: 5px solid var(--text-clr);
  padding-inline-start: 1rem;
  /* margin-block: 1rem; */
  padding-block: 0.75rem;
  height: min-content;
  grid-column: 3/5;
}

/* client styling */

.client-details {
  padding-block: 5rem 3rem;
}

#company-name {
  color: var(--primary-clr);
}

/* item list styling */

.item:first-child {
  border-bottom: 3px solid var(--text-clr);
}

.item {
  display: grid;
  grid-template-columns: 65% 1fr 1fr 1fr;
  align-items: baseline;
  padding-block: 0.5rem;
}

.item :last-child {
  text-align: right;
}

.item-total {
  color: var(--primary-clr);
}

.item-desc {
  font-weight: 900;
}

/* payment details styling */

.payment-details {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#payment-details {
  color: var(--primary-clr);
  font-weight: 900;
}

/* total list styling */

.total-row {
  display: grid;
  grid-template-columns: 65% 1fr 1fr 1fr;
}

.total-row {
  height: auto;
  max-height: 100vh;
}

.total-list {
  grid-column: 2/5;
  padding-top: 3rem;
}

.total-list > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.total {
  border-top: 3px solid var(--text-clr);
  flex-direction: column;
}

#total-value {
  color: var(--primary-clr);
  text-align: right;
  width: 100%;
}

/* settings styling */
.settings {
  border: 3px dotted var(--primary-clr);
  width: fit-content;
  padding: 1rem;
  position: relative;
}

.settings::before {
  content: "not rendered on print";
  position: absolute;
  color: var(--primary-clr);
  top: -0.75rem;
  background: var(--bg-clr);
  padding-inline: 0.25rem;
}

.settings > * {
  align-items: start;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 0.75rem;
}

@media print {
  .settings {
    display: none;
  }
}

textarea,
button {
  border-radius: 0;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
}

input {
  border: var(--text-clr) 2px solid;
}

textarea {
  border: var(--text-clr) 2px solid;
}

button {
  background: var(--primary-clr);
  color: var(--text-clr);
  padding: 0.5rem 0.75rem;
  border: 2px var(--primary-clr) solid;
  transition: color 0.25s ease-in;
}

button:hover {
  background-color: var(--bg-clr);
  color: var(--primary-clr);
}
